<ion-view>
    <ion-slides options="data.sliderOptions" slider="data.sliderDelegate">
        <ion-slide-page class="img1background1">
            <div>
                <div class="col"> <img ng-src="../img/img1.png"> </img>
                </div>
                <div class="col">O guia do mercado artístico nacional agora no seu celular</div>
            </div>

            <br>
            <br>
            <br>
            <div class="buttondev" style="padding-right: 20px; padding-left: 20px">
                <div class="button-bar button-pill buttondev" style="background-color: #701720">
                    <a nav-transition="android" class="button" style="background-color: #701720" ng-click="changePage()">Ir para o aplicativo <i class="flaticon-arrows" icon-left></i> </a>
                </div>
            </div>
        </ion-slide-page>
        <ion-slide-page class="img1background2">
            <div>
                <div class="col"> <img ng-src="../img/img2.png"> </img>
                </div>
                <div class="col">Consulte a última edição física do Guia </div>
                <div>Show Business</div>
            </div>
            <br>
            <br>
            <br>
            <div class="buttondev" style="padding-right: 20px; padding-left: 20px">
                <div class="button-bar button-pill buttondev" style="background-color: #701720">
                    <a class="button" style="background-color: #00594d">Ir para o aplicativo <i class="flaticon-arrows" icon-left></i> </a>
                </div>
            </div>
        </ion-slide-page>
        <ion-slide-page class="img1background3">
            <div>
                <div class="col"> <img ng-src="../img/img3.png"> </img>
                </div>
                <div class="col" style="padding: 3px">Inscreva-se no aplicativo e crie gratuitamente uma agenda com seus contatos favoritos</div>
            </div>
            <br>
            <div class="row">
                <div class="col col-50">
                    <div class="buttondev" style="padding-right: 20px; padding-left: 20px">
                        <div class="button-bar button-pill buttondev" style="background-color: #293940">
                            <a class="button" style="background-color: #00594d">Login  </a>
                        </div>
                    </div>
                </div>
                <div class="col col-50">
                    <div class="buttondev" style="padding-right: 20px; padding-left: 20px">
                        <div class="button-bar button-pill buttondev" style="background-color: #293940">
                            <a class="button" style="background-color: #00594d">Inscreva-se</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="buttondev" style="padding-right: 20px; padding-left: 20px">
                <div class="button-bar button-pill buttondev" style="background-color: #293940">
                    <a class="button" style="background-color: #00594d">Ir para o aplicativo </a>
                </div>
            </div>
        </ion-slide-page>
    </ion-slides>
</ion-view>