/* Empty. Add your own CSS if you like */

.img1background1 {
    background-color: #ba303d;
    text-align: center;
    -webkit-text-fill-color: #fff;
    width: 100%;
}

.img1background2 {
    background-color: #00aa9c;
    text-align: center;
    -webkit-text-fill-color: #fff;
    width: 100%;
}

.img1background3 {
    background-color: #3b6064;
    width: 100%;
    text-align: center;
    -webkit-text-fill-color: #fff;
}

.box {
    height: 100%;
}

ion-slides {
    height: 100vh !important;
}

.button-bar.button-pill {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    background: #701720;
}

.button-bar.button-pill .button:only-child {
    -webkit-border-radius: 30px 30px 30px 30px;
    border-radius: 30px 30px 30px 30px;
}

buttondev {
    margin-right: 35px !important;
    margin-left: 35px;
    background-color: #be3c3a;
}

.menuItem {
    background: #ba303d !important;
    border: 0px;
    -webkit-text-fill-color: #fff
}

.nav-bar-color {
    background: #af2333 !important
}